@import "nullstyle.scss", "inputs.sass", "buttons.sass", "section.sass", "columns.sass", "container.sass", "flex.sass", "caption.sass"


$space-1: 4px
$space-2: 10px
$space-3: 16px
$space-4: 20px
$space-5: 28px
$space-6: 44px

    
body 
    font-family: 'Arial'

.item
    &--
        &space_l
            padding-bottom: $space-5
        &space_m
            padding-bottom: $space-3
        &space_left
            padding-left: $space-6


.icon
    &--
        &white
            color: white
        &size_l
            font-size: 32px

                
.list 
    &__
        &plus
            &--
                &decorated
                    position: relative
                    &::before
                        content: ''
                        position: absolute
                        top: 6px
                        left: 0
                        background: #445161
                        width: 32px
                        height: 32px
                    &::after 
                        content: '+'
                        position: absolute
                        top: 0
                        left: 3px
                        color: #fff
                        font-size: 44px
        &item
            &--
                &decoration
                    color: white                
    &--
        &space
            margin: $space-4 0 $space-4 $space-5   




.card
    &--
        &space_m
            padding-bottom: $space-4
        &space_l
            padding-bottom: 36px 
        &space_xl
            padding: $space-3 $space-1
            margin: $space-1  0    
        &bg_grey
            background-color: #445161
        &border_radius
            border-radius: 8px
    &__
        &pannel
            position: relative
                        
            &--
                &bg_light_grey
                    background-color: #ebebeb
                &bg_white
                    background-color: white  
                &space_m
                    padding: $space-3
                &border_radius
                    border-radius: 8px    
                &decorated
                    &::before
                        content: ''
                        position: absolute
                        top: 24px
                        left: -12px
                        width: 0
                        height: 0
                        border-top: 20px solid transparent
                        border-right: 20px solid #ebebeb
                        border-bottom: 20px solid transparent
    
.wrapper
    &__
        &social_media
            &--
                &decoration
                    width: 24px
                    height: 24px
            &avatar
                &--
                    &decoration_rounded
                        margin: 0 auto;
                        overflow: hidden;
                        border-radius: 50%;



